{% extends 'interfaceEnseignant.html.twig' %}
{% block body%}
<center>
    <table>

        <td>
            </br><h2>Edit Grade</h2></br>

            {{ form_start(form) }}

            {{ form_widget(form) }}


            {{ form_end(form) }}
        </td>

    </table>
</center>

{% endblock %}