{% extends 'interfaceAdministrateur.html.twig' %}

{% block wrapper %}
<div class="dashboard-wrapper"  style="background-color:  #87add3">
{% block body %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock  %}
</div>
{% endblock  %}
{% block footer %}
{% endblock %}


