{% extends 'backoffice.html.twig' %}
{% block body %}
    <div class="container">
    <input type="button" value="Export Pdf">
    {% include '@FullCalendar/Calendar/calendar.html.twig' %}
    </div>
{% endblock %}
