{% extends 'interfaceEtudiant.html.twig' %}

{% block body %}
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="" style="transform: translateY(-147.365px);"></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Edit Your Demand</h2>
                    <div class="page_link">

                    </div>
                </div>
            </div>
        </div>
    </section>
<div class="container" style="width: 700px;margin-top: +5%;margin-bottom: +5%">
    <div class="card bg-light mb-3" style="width: 900px;height: 50%">
        <div class="card-header"style="font-size: 30px"><center><h2></h2></center></div>
        <div class="card-body">


    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit"class="genric-btn info circle" />
    {{ form_end(edit_form) }}





       <center><a href="{{ path('demandeevenement_show_club') }}">Back to the list</a></center>
        </div></div></div>
{% endblock %}
