{% trans_default_domain 'FOSUserBundle' %}
<div class="container" >
    <div class="row col-md-4" style="border: solid">
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}


    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
    </div>
</div>