
{% set myVal = 0 %}
                    {% for b in bd %}
                        {% set myVal = myVal + 1 %}
 <div class="row">

                        <span class="fa-stack fa-lg" style="color: #002a80">
<i class="fa fa-circle fa-stack-2x" ></i>
<i class="fa-stack-1x fa-inverse">{{ myVal }}</i>
</span>

  <div>  <h5>Club:{{ b.nom  }}</h5>
   <h5>Budget:{{ b.x  }}</h5>
  </div>

 </div>
{% endfor %}