{% extends 'interfaceAdministrateur.html.twig' %}

{% block body %}
<div class="container">
    <h1>Absence creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-outline-success" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('absence_index') }}">Back to the list</a>
        </li>
    </ul>
</div>
    {% endblock %}


