
<h1>List:</h1>
<table border="1">
    <tr>
        <th>etudiant</th>
        <th>noteCC</th>
        <th>noteDS</th>
        <th>noteExam</th>


    </tr>
    {% for n in notes %}
        <tr>
            <td>{{ n.etudiant }}</td>
            <td>{{ n.noteCC }}</td>
            <td>{{ n.noteDS }}</td>
            <td>{{ n.noteExam }}</td>

        </tr>
    {% endfor %}
</table>