<!doctype html>
<html lang="en">
<head>
    <title>Ajouter une Note</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background:rgba(202,206,214,0.98)">
<center>
    <table>

        <td>
            </br><h2 style=" color:  #850015">Edit Note</h2></br>

            {{ form_start(form) }}

            {{ form_widget(form) }}


            {{ form_end(form) }}
        </td>

    </table>
</center>
</body>
</html>