.profile_area .col-lg-7 {
    vertical-align: middle;
    align-self: center; }

.profile_inner {
    border-bottom: 1px solid #eeeeee; }
.profile_inner .personal_text {
    padding-left: 95px; }

.img-fluid{
    width: 1000px;
    }

.personal_text h6 {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-weight: normal;
    margin-bottom: 12px;
    color: #000844; }
.personal_text h4 {
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #222222; }
.personal_text h3 {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #303169; }
.personal_text p {
    font-family: "Roboto", sans-serif;
    max-width: 540px;
    color: #a52f64;
    margin-bottom: 30px; }
.personal_text .basic_info li {
    margin-bottom: 15px; }
.personal_text .basic_info li a {
    position: relative;
    padding-left: 40px;
    font-size: 16px;
    color: #00084e; }
.personal_text .basic_info li a i {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #766dff; }