{% extends 'interfaceEtudiant.html.twig' %}
{% block body%}
    <center>
        <table>

            <td>
                </br><h2>Update Profile</h2></br>

                {{ form_start(form) }}

                {{ form_widget(form) }}


                {{ form_end(form) }}
            </td>

        </table>
    </center>

{% endblock %}